.tasks {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  margin-top: 5.625rem;
  padding: 0 1rem;
}

.createTasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.createTasks > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.createTasks p {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.createTasks span {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 700;
}

.finishTasks p {
  color: var(--purple);
}

.emptyTasks{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.5rem;
  line-height: 1;
  color: var(--gray-300);
}

.emptyTasks p {
  margin-top: 1rem;
  font-weight: bold;
}

.emptyTasks span {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 100;
  color: var(--gray-300);
}